.adminuser1 {
  padding: 0 50px;
}
.tableuser1 {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
}
.tableuser1 tr th {
  font-family: "Rye";
  font-size: 20px;
  padding: 10px 0;
  border-bottom: 3px solid #992c20;
  width: 350px;
}
.tableuser1 tr td {
  font-family: "Rye";
  text-align: center;
  font-size: 20px;
  padding: 10px 10px;
  border-bottom: 1px solid #ced4d8;
  width: 350px;
}
#btnactiveuser2 {
  width: 90px;
  padding: 5px 0;
  margin: 0px 5px;
  border: 2px solid green;
  color: green;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 10px;
  font-family: "Rye";
  font-size: 15px;
}
#btnactiveuser2:hover {
  background-color: green;
  color: white;
}
#btnunactive1 {
  width: 90px;
  padding: 5px 0;
  margin: 0px 5px;
  border: 2px solid red;
  color: red;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 10px;
  font-family: "Rye";
  font-size: 15px;
}
#btnunactive1:hover {
  background-color: red;
  color: white;
}
.imgproduct {
  width: 200px;
  height: 150px;
}
.imgproduct img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.totalstock {
  display: flex;
  justify-content: center;
}
#stocking {
  border: 2px solid green;
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 5px 0;
  width: 180px;
  margin: 3px 0;
  font-family: "Rye";
}
#outofstock {
  border: 2px solid red;
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 5px 0;
  width: 180px;
  margin: 3px 0;
  font-family: "Rye";
}
.addprodut1 {
  border: 2px solid #6dd0fe;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Rye";
  background-color: white;
  color: #6dd0fe;
  border-radius: 10px;
}
.addprodut1:hover {
  background-color: #6dd0fe;
  color: white;
}
.addprodut2 {
  margin: 20px 0;
}
